*.class

# Package Files #
*.jar
*.war
*.ear

widgets/SMTP/com.testingtech.ttworkbench.play.widget.smtp.rt/configuration/main.clf.tlz

widgets/POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/configuration/main.clf.tlz

POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/configuration/main.clf.tlz

*.ttcn3view

SMTP/com.testingtech.ttworkbench.play.widget.smtp.rt/configuration/main.clf.tlz

SMTP/com.testingtech.ttworkbench.play.widget.smtp.rt/generated/ttcn3/.cvsignore

SMTP/com.testingtech.ttworkbench.play.widget.smtp.rt/build/.cvsignore

SMTP/com.testingtech.ttworkbench.play.widget.smtp.rt/generated/java/.cvsignore

SMTP/com.testingtech.ttworkbench.play.widget.smtp.rt/.cvsignore

POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/generated/ttcn3/.cvsignore

POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/generated/java/.cvsignore

POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/.cvsignore

POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/.settings/.cvsignore

POP3/com.testingtech.ttworkbench.play.widget.pop3.rt/build/.cvsignore
